<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted text-bg-dark">Borrar Película</span>
</h4>
<div class="card" style="width: 18rem; height: 20rem">
    <div class="card-body">
      <h4 class="card-title">{{borrar_peliSeleccionadaInput?.Titulo}} </h4>
      <img [src]="borrar_peliSeleccionadaInput?.fotoPelicula" width="150px" height="130px" class="mx-auto d-block" alt="...">
    </div>
    <button mat-raised-button color="accent" (click)="borrarPelicula()">Borrar</button>
  </div>
