<div class="bootstrap-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h1 class="text-center" style="color: white;">Bienvenido a la app {{title}}</h1>

              <!-- <form class="form-container">
                <mat-form-field class="example-full-width">
                  <mat-label>Edad 1</mat-label>
                  <input type="number" [(ngModel)]="edadUno" name="edadUno" matInput placeholder="Ingrese una edad" >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Edad 2</mat-label>
                  <input type="number" [(ngModel)]="edadDos" name="edadDos" matInput placeholder="Ingrese una edad" />
                </mat-form-field>

                <h2 class="text-center"  style="color: white;">Resultados</h2>

                <mat-form-field class="example-full-width">
                  <mat-label>Suma</mat-label>
                  <input type="number" [(ngModel)]="suma" name="suma" matInput  >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Promedio</mat-label>
                  <input type="number" [(ngModel)]="promedio" name="promedio" matInput  />
                </mat-form-field>

                <div class="container text-center">
                  <button mat-raised-button color="primary" (click)="Calcular()">Calcular</button>
                  <button mat-raised-button color="accent" (click)="Limpiar()">Limpiar</button>
                </div>
              </form> -->
          </div>
      </div>
  </div>
</div>
